.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: white;
}

[data-theme='dark'] .features {
  background-color: #222225;
}

.featureSvg {
  height: 100px;
  width: 100px;
}
