.stats {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: #ededed;
}

[data-theme="dark"] .stats {
  background-color: #222225;
}

.statSvg {
  height: 100px;
  width: 100px;
}
